{% extends 'base.html' %}
{% load humanize %}
{% block title %}상품 목록{% endblock %}
{% block mainTitle %}상품 목록{% endblock %}
{% block contents %}

    <div class="row mt-5">

        <table class="table table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">상품명</th>
                <th scope="col">가격</th>
                <th scope="col">등록날짜</th>
            </tr>

            <tbody class="text-dark">

            {% for product in object_list %}

                <tr>
                    <th scope="row"><a href = "/product/{{ product.id }}">{{ product.id }}</a></th>
                    <th><a id="product-{{ product.id }}" href = "/product/{{ product.id }}" onmouseover="product_detail({{ product.id }})" onmouseleave="product_leave({{ product.id }})">{{ product.name }}</a></th>
                    <th>{{ product.price|intcomma }}원</th>
                    <th>{{ product.registered_date|date:'Y-m-d H:i' }}</th>
                </tr>


            {% endfor %}

            </tbody>
        </table>


    </div>

{% endblock %}
{% block extra_script %}

     <script>

        function product_detail(id)
        {
            $.ajax({
              url: "/api/product/" + id,
              success: function( result ) {
                  $("#product-" + id).popover({
                      html:true,
                      content: result.name + "<br>" + result.price
                  }).popover('show')
              }
            });
        }

        function product_leave(id)
        {
            $("#product-" + id).popover('hide');
        }

        $(document).ready(function () {
        });
    </script>

{% endblock %}